/* create variables */
:root {
    --background-color: #98c8de;
    --primary-color: #645aa4;
    --secondary-color: #313167;
    --darker-background: #5c7fd0;
    --accent-color: #b986d7;
    --main-font-size: 20px;
    --font-bold: 700;
    --transition-speed: 0.3s;
    --transition-speed-slow: 0.5s;
}

body {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: var(--main-font-size);
    background-color: var(--background-color);
    line-height: 1.6;
    color: var(--primary-color);
    text-align: center;
}

#loadingMessage {
    background-color: var(--background-color);
    font-weight: 400;
    font-size: var(--main-font-size);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

/* list / buttons */
.pokemon-list {
    list-style-type: none;
    padding: 0;
}

.button-class {
    border: none;
    display: inline-block;
    font-family: inherit;
    font-size: var(--main-font-size);
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 15%;
    margin: 7px 0px;
    border-radius: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition-property: background-color, color;
    transition-duration: var(--transition-speed);
}

.button-class:hover, .button-class:focus {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    cursor: pointer;
}

/* mobile-friendly settings */
@media all and (max-width: 500px) {
    .button-class {
        width: 80%;
    }

    .button-class:active {
        text-decoration: none;
        background-color: var(--secondary-color);
        color: var(--accent-color);
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .button-class {
        width: 70%;
    }
}

@media all and (max-width: 750px) {
    .button-class {
        width: 70%;
    }
}