/* create variables */
:root {
    --background-color: #98c8de;
    --primary-color: #645aa4;
    --secondary-color: #313167;
    --darker-background: #5c7fd0;
    --accent-color: #b986d7;
    --main-font-size: 20px;
    --font-bold: 700;
    --transition-speed: 0.3s;
    --transition-speed-slow: 0.5s;
}

/* general settings */
body {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: var(--main-font-size);
    background-color: var(--background-color);
    line-height: 1.6;
    color: var(--primary-color);
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 50px;
    text-transform: capitalize;
    margin: 0 auto;
}

/* navbar settings */
.navbar {
    position: fixed;
    z-index: 9;
    top: 0;
    width: 100%;
    background-color: var(--secondary-color);
    text-align: center;
    margin: auto;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.4);
}

.nav-item, a {
    margin-left: 25%;
    color: var(--background-color) !important;
}

.nav-item:hover, a:hover {
    color: var(--darker-background) !important;
}

.nav-link.disabled {
    color: var(--darker-background) !important;
}

/* hamburger icon */
.navbar-toggler {
    background-color: var(--secondary-color) !important;
    text-align: right;
}

/* Pokedex logo */
.navbar-brand {
    font-size: 50px;
    margin: 0 auto;
    padding: 0 0 10px 30px;
    color: var(--background-color);
}

.navbar-brand:hover {
    color: var(--background-color);
}

/* modal settings */
.close {
    margin: 10px;
    position: fixed;
    color: var(--background-color);
}

.close:hover {
    color: white;
}

.modal-content {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.modal-title {
    font-size: 35px;
    text-transform: capitalize;
    margin: 0 auto;
}

.modal-body {
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
}

/* list / buttons */
.list-group {
    list-style-type: none;
    padding: 50px 150px;
    margin: 75px 180px 75px 180px;
    text-align: center;
}

.list-group-item {
    list-style-type: none;
    border: none;
    background-color: transparent;
    text-align: center;
}

.btn-primary {
    border: none;
    font-family: inherit;
    font-size: var(--main-font-size);
    text-transform: capitalize;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    margin: 7px 0px;
    border-radius: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition-property: background-color, color; 
    transition-duration: var(--transition-speed);
}

.btn-primary:hover, .btn-primary:focus {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.pokemon-sprite {
    width: 40%;
    padding: 20px 20px 0px 20px;
    margin: 0 auto;
}

.pokemon-type {
    font-family: inherit;
    font-size: var(--main-font-size);
    border: none;
    color: var(--secondary-color);
    padding: 3px 7px;
    margin: 7px;
}

/* changing background color of each Pokemon type */
.grass-type {
    background-color: #71c558;
}
.fire-type {
    background-color: orangered;
    color: white;
}
.water-type {
    background-color: #539ae2;
}
.normal-type {
    background-color: lightgray;
}
.psychic-type {
    background-color: #e5709b;
    color: white;
}
.fairy-type {
    background-color: pink;
}
.ice-type {
    background-color: lightcyan;
}
.poison-type {
    background-color: #b468b7;
    color: white;
}
.ghost-type {
    background-color: darkmagenta;
    color: white;
}
.dragon-type {
    background-color: cornflowerblue;
}
.electric-type {
    background-color: gold;
}
.steel-type {
    background-color: lightgray;
}
.bug-type {
    background-color: greenyellow;
}
.dark-type {
    background-color: #524a4a;
    color: white;
}
.flying-type {
    background-color: #7da6de;
}
.ground-type {
    background-color: #cc9f4f;
}
.rock-type {
    background-color: #b2a061;
}
.fighting-type {
    background-color: #cb5f48;
    color: white;
}
.misc-type {
    color: var(--accent-color);
}

/* pokemon type chart and footnote */
#pokemon-typechart {
    margin: 150px 0 30px 0;
}

.chart-link {
    color: var(--darker-background) !important;
    margin: 0;
}

.chart-link:hover {
    color: var(--accent-color) !important;
}

.chart-resource {
    font-size: 15px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

/* mobile settings */
@media (max-width: 1100px) {
    .list-group {
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }
}

@media (max-width: 992px) {
    .list-group {
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }

    #pokemon-typechart {
        width: 70%;
        padding: 10px;
        margin-top: 125px;
    }
}

@media (max-width: 768px) {
    .list-group {
        width: 100%;
        min-width: 500px;
        padding: 0;
        padding-top: 40px;
    }

    #pokemon-typechart {
        margin-top: 125px;
    }
}

@media (max-width: 576px) {
    .list-group {
        width: 80%;
        min-width: 150px;
        padding: 0;
        margin-top: 100px;
        position: relative;
    }

    .btn-primary {
        padding: 7px;
        font-size: 16px;
    }

    .navbar-brand {
        font-size: 40px;
        text-align: left;
        position: relative;
        padding: 10px;
    }

    #pokemon-typechart {
        width: 90%;
        padding: 0;
        margin-top: 125px;
        margin-bottom: 30px;
    }

    .chart-resource {
        font-size: 12px;
    }
}
